---
title: Internal
heading:
class: info
---

<section>
  <article>
    <h1>Guest Services</h1>
    <a href="/info/security.cfm">Click here for Security information at Palm Beach Outlets.</a>
    <p>At Palm Beach Outlets, we offer an array of amenities and services to provide you with the best shopping experience possible.</p>

    <strong>Customer Service Sponsored by Good Samaritan Medical Center</strong><br>
    <p>Customer Service is located in the Food Court. Customer Service provides customers with store information, directions to the mall, information regarding upcoming promotions and other requested services.</p>

    <strong>Directions, Maps and Information</strong><br>
    <p>Contact Customer Service at 561.515.4400 for directions and/or maps. Tri-Rail and Bus Schedules are all available at Customer Service for customer convenience.</p>

    <strong>Valet Sponsored by </strong><br>
    <a href="http://www.autonationcadillacwestpalmbeach.com/" target="_blank"><img src="/images/mimages/caddy.jpg" alt=/></a><br />
    <p>Valet Located near Forever 21</p>

    <strong>Employment Opportunities</strong><br>
    <p>A list of employment opportunities is available at Customer Service. In addition, job listings are posted on <a href="/jobs?utm_source=sponsorship&utm_medium=topNav&utm_campaign=careerBuilder">www.palmbeachoutlets.com</a>.</p>


    <strong>Lost and Found</strong><br>
    <p>Any lost and found items are logged in at Customer Service locate in the Food Court. To contact Lost and Found, please call 561.515.4400.</p>

    <strong>Package Assistance and Escorts </strong><br>
    <p>For your convenience, we offer package assistance and escorts. See Customer Service in the Food Court or call 561.515.4400.</p>

    <strong>Public Restrooms</strong><br>
    <p>Public restrooms are located in the Food Court and by Saks Fifth Avenue OFF 5TH.</p>

    <strong>Strollers</strong><br>
    <p>Strollers can be rented for mall use only through an automated stroller set-up located near Saks Fifth Avenue OFF 5th and Tilly's.</p>

    <strong>Bike Racks</strong><br>
    <p>For customer convenience, bike racks are located by GAP Factory Store, Rackroom Shoes, Nike Factory Store and Tommy Hilfiger Company Store.</p>

    <strong>Taxi Service</strong><br>
    <p>Please see Customer Service to request taxi service.</p>

    <strong>Wheelchair Rentals</strong><br>
    <p>Complimentary wheel chairs courtesy of <a href="http://www.goodsamaritanmc.com/en-US/Pages/default.aspx#.UuazfxDn-00">
      <figure>
        <img src="/images/mimages/GoodSam_LOGO.jpg">
        <figcaption>Available at Customer Service in the Food Court.</figcaption>
      </figure>
    </a>
  </p>

  <strong>24 Hour Security</strong><br>
  <p>Security assistance is available 24 hours a day, 7 days a week for customers and employees.  Call the security phone line at 561.515.4400.</p>

  <strong>Electric Vehicle Charging Stations</strong><br>
  <p>Electric Vehicle Charging Stations are located near the Tommy Hilfiger Company Store and Nike Factory Store.<br>
    For charging station locations, visit <a href="http://www.chargepoint.com/">www.chargepoint.com</a>.</p>

  </article>

  <aside>
    {{> sidebar}}
  </aside>
</section>
