---
title: Home
heading: Style Guide
class: styleguide
---

<section>
  {{> about}}
</section>

<hr>

<aside>
  <h2>Colors</h2>
  {{> base-colors}}

  <hr>

  {{> base-grayscale}}

  <hr>

  {{> typography-colors}}

{{!--   <hr>

  {{> swatches}} --}}

  <hr>

  {{> buttons}}

  <hr>

  {{> ctas}}

  <hr>

  {{> images}}
</aside>

<article>
  <h2>Typography</h2>
  {{> headings}}

  <hr>

  {{> body-text}}

  <hr>

  {{> inline-text}}

  <hr>

  {{> fonts}}

  <hr>

  {{> icons}}

  <hr>

  {{> lists}}

  <hr>

  <h2>Forms</h2>
  {{> forms}}

  <hr>

  {{> tables}}
</article>
