<div class="anchor-headings">
  <h4>Headings</h4>

  <ul class="vertical lined">
    <li>
      <h1>The H1 is the main page heading</h1>
      <h5>Page Title / Section Title</h5>
    </li>
    <li>
      <h2>The H2 is the page level or section heading</h2>
      <h5>Page Title / Section Title</h5>
      <p>The secondary header above is an h2 element, which may be used for any form of important page-level header. More than one may be used per page. Consider using an h2 unless you need a header level of less importance, or as a sub-header to an existing h2 element.</p>
    </li>
    <li>
      <h3>The H3 is a third-level heading</h3>
      <h5>Section Header / Banner Title / Section Subhead</h5>
      <p>The header above is an h3 element, which may be used for any form of page-level header which falls below the h2 header in a document hierarchy.</p>
    </li>
    <li>
      <h4>The H4 is the fourth-level heading</h4>
      <h5>Sub Header</h5>
      <p>Typically used for article title or call-to-action elements.</p>
    </li>
    <li>
      <h5>The H5 is the fifth-level heading</h5>
      <h5>Sub Header</h5>
    </li>
    <li>
      <h6>The H6 is the sixth-level heading and the lowest</h6>
      <h5>Sub Header</h5>
      <p>Each heading has an accompanying class that can be used for styling any element without the need or restriction of SEO impact.</p>
    </li>
  </ul>
</div>
