<div class="anchor-icons">
  <h4>Icons</h4>

  <ul>
    <li>
      <i class="fa fa-search"></i>
    </li>

    <li>
      <i class="fa fa-user"></i>
    </li>

    <li>
      <i class="fa fa-check"></i>
    </li>

    <li>
      <i class="fa fa-times"></i>
    </li>

    <li>
      <i class="fa fa-search-plus"></i>
    </li>

    <li>
      <i class="fa fa-search-minus"></i>
    </li>

    <li>
      <i class="fa fa-power-off"></i>
    </li>

    <li>
      <i class="fa fa-cog"></i>
    </li>

    <li>
      <i class="fa fa-home"></i>
    </li>

    <li>
      <i class="fa fa-inbox"></i>
    </li>

    <li>
      <i class="fa fa-repeat"></i>
    </li>

    <li>
      <i class="fa fa-refresh"></i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf02b;</i>
    </li>

    <li>
      <i class="fa fa-bookmark"></i>
    </li>

    <li>
      <i class="fa fa-print"></i>
    </li>

    <li>
      <i class="fa fa-pencil"></i>
    </li>

    <li>
      <i class="fa fa-map-marker"></i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf047;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf04b;</i>
    </li>

    <li>
      <i class="fa fa-chevron-left"></i>
    </li>

    <li>
      <i class="fa fa-chevron-right"></i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf055;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf056;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf057;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf058;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf059;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf05a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf064;</i>
    </li>

    <li>
      <i class="fa fa-plus"></i>
    </li>

    <li>
      <i class="fa fa-minus"></i>
    </li>

    <li>
      <i class="fa fa-asterisk"></i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf06a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf071;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf073;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf077;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf078;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf07a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf081;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf082;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf086;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf089;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf08b;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf08c;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf08d;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf08e;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf090;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf091;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf092;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf093;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf095;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf098;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf099;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf09a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf09b;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf09c;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf09d;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0a8;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0a9;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0aa;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0ab;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0c0;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0c8;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0c9;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d2;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d3;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d6;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d7;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d8;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0d9;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0da;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0e0;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0e8;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0f2;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0f4;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0fa;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf0fe;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf100;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf101;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf102;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf103;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf104;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf105;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf106;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf107;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf108;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf109;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf10a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf10b;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf122;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf122;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf124;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf128;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf129;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf12a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf137;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf138;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf139;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf13a;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf140;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf141;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf142;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf145;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf14e;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf166;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf167;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf16a;</i>
    </li>


    <li>
      <i class="fa fa-fw">&#xf182;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf183;</i>
    </li>

    <li>
      <i class="fa fa-fw">&#xf193;</i>
    </li>
  </ul>

</div>
