<div class="anchor-lists">
  <h4>Lists</h4>

  <h5>A Basic Unordered List</h5>

  <ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
      Lists can be nested inside of each other
      <ul>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an unordered list</li>
      </ul>
    </li>
    <li>This is the last list item</li>
  </ul>

  <hr>

  <h5>A Vertical Bulleted Unordered List</h5>
  <ul class="bulleted">
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
      Lists can be nested inside of each other
      <ul>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an unordered list</li>
      </ul>
    </li>
    <li>This is the last list item</li>
  </ul>

  <hr>

  <h5>Ordered List</h5>

  <ol>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
      Lists can be nested inside of each other
      <ol>
        <li>This is a nested list item</li>
        <li>This is another nested list item in an ordered list</li>
      </ol>
    </li>
    <li>This is the last list item</li>
  </ol>

  <hr>

  <h5>Definition List</h5>

  <dl>
    <dt>Definition List</dt>
    <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
    <dt>This is a term.</dt>
    <dd>This is the definition of that term, which both live in a dl.</dd>
  </dl>

  <hr>

  <h5>Vertical - adds some breathing room</h5>
  <ul class="vertical">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Lined - adds some visuals breaks between li's</h5>
  <ul class="vertical lined">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Striped - adds some visuals breaks between li's</h5>
  <ul class="vertical striped">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Vertical Lined &amp; Striped - well, you get it!</h5>
  <ul class="vertical lined striped">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Horizontal Slashes</h5>
  <ul class="horizontal slashes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>

  <hr>

  <h5>Horizontal Pipes</h5>
  <ul class="horizontal pipes">
    <li>Lorem</li>
    <li>Ipsum</li>
    <li>Dolor</li>
  </ul>
</div>
