<h4>Typography Colors</h4>

<div class="anchor-brand-colors">

  <div class="swatch">
    <div class="swatch-color color-text">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-link">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-error">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-info">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-success">
    </div>
    <div class="swatch-info">
    </div>
  </div>
</div>
