// Pull globals for individually compiled css files
@import 'css/scss/globals/allGlobals';

/* ===========================================================================================
    Card Component -- Version: 0.1.1 - Compiled: #{timestamp()}
    =========================================================================================== */

.card-component {
  position: relative;
  @include inline-block;
  width: 100%;
  border-radius: $border-radius;

  header {
    @include padding($spacing);
    border: 1px solid $color-primary-orange;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $color-primary-orange;
    color: $color-white;
    text-align: center;
  }

  section {
    display: none;
    @include margin;
    @include padding($spacing);
    border-left: 1px solid $color-light-grey;
    border-right: 1px solid $color-light-grey;
    background-color: $color-white;

    img {
      @include size(120px);
    }

    p {
      text-align: center;
    }
  }

  footer {
    @include padding($spacing);
    border: 1px solid $color-light-grey;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: $color-light-grey;
    text-align: center;
  }
}
