<h1>Newsletter Sign Up</h1>

<h3>Stay up to date with the latest sales and news from PANDORA!</h3>

<form novalidate directive-newsletter__form>
  <input type="email" id="email" class="input-text" placeholder="your email address...">

  <div class="fifty-fifty">
    <button type="button" class="fifty-fifty__left button button--subdue" directive-modal__close>Cancel</button>
    <button type="submit" class="fifty-fifty__right button">Sign Up</button>
  </div>
</form>

<div class="takeover" directive-newsletter__success>
  <div class="takeover__content">
    <div class="vertical-align">
      <div class="vertical-align__content">
        <svg class="icon icon--big icon--good"><use xlink:href="#check" /></svg>

        <h1>Thanks!</h1>
        <p>You've successfully signed up to receive our newsletter at <span class="bold" directive-newsletter__final-email></span></p>

        <button type="button" class="button" directive-modal__close>OK</button>
      </div>
    </div>
  </div>
</div>
