// =Site Defaults

@import "../vendor/neat/neat-helpers";

 // =Grid settings
  $gutter: em(20);
  $grid-columns: 12;
  $max-width: em(1040);

  // =Breakpoints
  $desktop: new-breakpoint(min-width 1001px 8);
  $tablet: new-breakpoint(max-width 1000px 8);
  $mobile: new-breakpoint(max-width 480px 4);

  $base-spacing: 1em !default;
  $pad: $base-spacing;

  // =Alpha
  $site-alpha: .93;

  // =Colors
  $color-white: #fff;
  $color-off-white: shade($color-white, 10%);
  $color-black: #000;
  $color-grey: #ccc;
  $color-light-grey: #e1e1e1;
  $color-dark-grey: #999;

  // =Brand Palette
  $color-brand-primary: #022b62; // Headings
  $color-brand-secondary: #454545; // Text
  $color-brand-tertiary: $color-white; // Background
  $color-brand-quaternary: #fa002d; // Accent
  $color-brand-quinary: #e8e2dc; // Accent=

  $color-brand-primary-complimentary: red;
  $color-brand-secondary-complimentary: blue;
  $color-brand-tertiary-complimentary: green;

  $color-primary-red: red;
  $color-primary-green: green;
  $color-primary-blue: blue;

  // =Background
  $site-bg: $color-brand-tertiary;
  $site-bg-start: $color-brand-tertiary;
  $site-bg-end: #fff;
  $site-background-attachment: fixed; // 'fixed, local, inherit, or null'

  // =Default Text Colors
  $base-font-color: $color-brand-secondary;
  $base-accent-color: $color-brand-tertiary;
  // $heading-color: $color-brand-primary;
  // $heading-color-alt: $color-brand-secondary;

  // =Links
  $base-link-bg: null;
  $base-link-color: $color-brand-secondary;
  $base-link-color-hover: shade($color-brand-primary, 40%);
  $base-link-text-decoration: none !default;
  $base-link-color-alt: $color-brand-secondary;
  $base-link-color-alt-hover: mix($color-brand-secondary, black, 10%);

  // =External Links
  $link-external-color: $color-brand-secondary;
  $link-external-color-hover: mix($color-brand-secondary, black, 10%);

  // =Email Links
  $email-link-color: $base-link-color;
  $email-link-color-hover: $color-brand-primary;
  $email-text-decoration: none;
  $email-font-weight: 900;

  // =Phone Links
  $phone-link-color: $base-link-color;
  $phone-link-color-hover: $color-brand-primary;
  $phone-text-decoration: none;

  // =Icons
  $base-icon-color: $base-font-color;
  $base-icon-color-hover: $base-link-color-hover;

  // =Social Media
  $twitter-link-color: #1c96db;
  $twitter-link-color-hover: $twitter-link-color;
  $facebook-link-color: #3b5998;
  $facebook-link-color-hover: $facebook-link-color;
  $youtube-link-color: #db1117;
  $youtube-link-color-hover: $youtube-link-color;
  $pinterest-link-color: #c92228;
  $pinterest-link-color-hover: $pinterest-link-color;
  $instagram-link-color: #517fa4;
  $instagram-link-color-hover: $instagram-link-color;

  // $icons-list: (
  //   fa-twitter      #1c96db
  //   fa-facebook     #3b5998
  //   fa-youtube      #db1117
  //   fa-pinterest    #c92228
  //   fa-instagram    #517fa4
  // );

  $placeholder-color: $color-light-grey;

  // =Supplementary Colors
  $alert-bg: tint($color-primary-red, 40%);
  $alert-color: $color-primary-red;
  $success-bg: tint($color-primary-green, 40%);
  $success-color: $color-primary-green;
  $info-bg: tint($color-primary-blue, 40%);
  $info-color: $color-primary-blue;

  // =Inline Text Elements
  $em-color: $base-font-color;
  $mark-bg: $info-color;
  $mark-color: $base-font-color !default;

  // =Typography Basics
  $base-font-reset: 10px !default;
  $base-font-size: 14 !default;
  $base-line-height: golden-ratio($base-font-size, -5);
  $lede-font-size: $base-font-size * 1.125;
  $body-text: $base-font-size;
  $small-body-text: $base-font-size * .875;
  $disclaimer-text: $base-font-size * .75;
  $legal-text: $small-body-text;

  // =Modular Scale
  $modular-scale-ratio: 1.61803398875;

  // Google Fonts
  $google-fonts-url: 'http://fonts.googleapis.com/css?family=Prata|Oswald:300';

  // =Font Families List
  $font-faces: (
      'fontawesome': ('font-awesome/fontawesome-webfont', normal),
      'gotham': ('gotham-book-webfont', normal),
      'gotham-bold': ('gotham-bold-webfont', normal)
  );
  $font-path: '../fonts/';

  // =Font Families
  $base-font-family: gotham, Arial, Helvetica, sans-serif;
  $heading-font-family: gotham-bold, sans-serif;
  $heading-font-family-alt: gotham, sans-serif;
  $fontawesome: 'FontAwesome';

  $nav-font-family: 'gotham', Arial, Helvetica, sans-serif; //added 2/2/15

  // =Headings
  $heading-color-primary: $color-brand-primary;
  $heading-color-secondary:  $heading-color-primary;
  $heading-line-height: 1.25;

  $heading-list: (
      h1   24   200   $heading-font-family      $heading-color-primary,
      h2   24   200   $heading-font-family      $heading-color-primary,
      h3   16   200   $heading-font-family-alt  $heading-color-primary,
      h4   16   200   $heading-font-family      $heading-color-secondary,
      h5   16   700   $heading-font-family      $heading-color-primary,
      h6   14   100   $heading-font-family      $heading-color-secondary
  );

  // =Header
  $header-bg: $color-white;
  $header-opacity: $site-alpha;
  $header-border: null;
  $header-color: $base-font-color;
  $header-link: $base-link-color;
  $header-link-hover: $base-link-color-hover;
  $header-pattern: 'path/to/pattern.png';

  // =Nav
  $nav-alignment: right;
  $nav-positioning: -48px; // null
  $nav-bg: transparent;
  $nav-bg-hover: null;
  $nav-font-family: $nav-font-family;
  $nav-font-size: $small-body-text;
  $nav-font-weight: 800;
  $nav-text-transform: uppercase;
  $nav-color: $color-white;
  $nav-color-hover: shade($nav-color, 20%);
  $nav-dropdown-bg: null;
  $nav-dropdown-bg-hover: null;
  $nav-dropdown-font-size: $small-body-text;
  $nav-dropdown-color: null;
  $nav-dropdown-color-hover: null;
  $nav-dropdown-border-color: null;
  $nav-dropdown-border-color-hover: null;
  $nav-hamburger-bg: null;
  $nav-hamburger-color: $color-white;
  $nav-off-canvas-side: left; // left, right, down
  $nav-hamburger-side: left; // if off-canvas, this should match off-canvas side
  $nav-off-canvas-width: 70%;
  $nav-off-canvas-bg: tint($color-brand-primary, 10%);
  $nav-sticky: false !default;

  // =Body
  $body-bg: $color-white;
  $body-pattern: '/images/splash-background.jpg';


  // =Container Setup
  $container-bg: transparent;
  $content-bg: transparent;
  $content-border-color: $color-light-grey;
  $box-bg: $color-white;
  $box-border-color: $color-light-grey;

  // =Footer
  $footer-bg: $color-white;
  $footer-font-size: $disclaimer-text;
  $footer-link-font-weight: 700;
  $footer-text: $color-black;
  $footer-link-color: $base-link-color;
  $footer-link-color-hover: $base-link-color-hover;

  // =Borders
  $base-border-radius: 3px !default;
  $base-border-style: solid;
  $base-border-color: $color-grey;
  $base-border: 1px $base-border-style $base-border-color;

  // =Shadow
  $base-box-shadow: 0 0 3px 3px $color-dark-grey;

  // =Horizontal Rule
  $hr-color-top: $color-brand-tertiary;
  $hr-color-bottom: tint($color-dark-grey, 80%);

  // =Forms
  $form-border-color: $color-light-grey;
  $form-border-color-hover: darken($base-border-color, 10);
  $form-border-color-focus: $form-border-color-hover;
  $form-border-radius: $base-border-radius;
  $form-font-family: $base-font-family;
  $form-font-size: $base-font-size;
  $form-box-shadow: inset 0 1px 3px rgba($color-black,0.06);
  $form-box-shadow-focus: null;

  // =Buttons
  $base-button-color: $color-brand-primary;
  $base-button-color-hover: shade($base-button-color, 25%);

  // Pagination
  // $pagination-controls-bg: $base-button-color;
  // $pagination-controls-color: ;
  // $pagination-controls-bg-disabled: ;

  // =Search
  $search-bg: $color-white;
  $search-placeholder-color: $color-light-grey;
  $search-button-bg: $base-button-color;
  $search-button-color: $color-brand-secondary;

  // =Images
  $image-border: null;
  $image-box-shadow: $form-box-shadow-focus;

  // Carousel
  $carousel-width: $max-width;

  // =Scrollbar
  $scrollbar-bg: $color-white;
  $scrollbar-handle-color: $color-brand-secondary;

  // =Modals
  $modal-header-bg: $color-light-grey;
  $modal-header-color: $base-font-color;
  $modal-body-bg: $color-white;
  $modal-body-color: $base-font-color;
  $modal-link-color: $base-link-color;
  $modal-link-color-hover: $base-link-color-hover;
  $modal-footer-bg: $color-light-grey;
  $modal-footer-color: $base-font-color;

  // =iFeature
  $iFeature-bg: rgba($color-black, $site-alpha);
  $iFeature-text: $color-white;
  $iFeature-link: $base-link-color;
  $iFeature-link-hover: $base-link-color-hover;

  // =Directory
  $directory-link: $base-link-color-alt;
  $directory-link-hover: $base-link-color-alt-hover;

  // =Transition
  $transition-time: .3s;
  $transition: all $transition-time ease-in-out;

  // =Animations
  $animation-delay: .5s;
  $animation-duration: .5s;

  // =---------------------------------------------------------------------- //

  // =Warnings
  $disable-warnings: false !default;

  // =Mistakes
  $find-mistakes: false;

  // =Support IE8
  $support-legacy: true;

  // =Neat grid
  $visual-grid: false !global;
  $visual-grid-color: tint($color-primary-blue, 75%) !global;
  $visual-grind-index: front !global;
  $visual-grid-opacity: $site-alpha !global;
