<ul class="home-carousel">
  <li><img src="/images/mimages/slide1.jpg" alt=""></li>
  <li><img src="/images/mimages/slide2.jpg" alt=""></li>
  <li><img src="/images/mimages/slide3.jpg" alt=""></li>
</ul>
