<!-- Footer Component -->
<footer role="contentinfo">
	<div class="container">

		<div class="mall-details">
			<ul>
				<li>
					<ul class="horizontal">
						<li>
							For leasing Information Contact:
						</li>
					</ul>
					<ul class="horizontal">
						<li>Bill King</li>
						<li><a href="mailto:bking@bayerproperties.com">bking@bayerproperties.com</a></li>
						<li><a class="tel" href="tel:+2154973480">215-497-3480</a></li>
					</ul>
				</li>
				<li>
					<ul class="horizontal">
						<li>
							Michael Giovanni
						</li>
						<li>
							<a href="mailto:mgiovanni@bayerproperties.com">mgiovanni@bayerproperties.com</a>
						</li>
						<li>
							<a class="tel" href="tel:+2154973480">215-497-3480</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="horizontal">
				<li>
					<a href=""><i class="fa fa-facebook-square fa-3x"></i></a>
				</li>
				<li>
					<a href=""><i class="fa fa-twitter-square fa-3x"></i></a>
				</li>
				<li>
					<a href=""><i class="fa fa-instagram fa-3x"></i></a>
				</li>
			</ul>
			<ul class="mall-address">
				<li>6200 20th St, Vero Beach, FL, 32966</li>
				<li><a href="/mimages/directory-map.pdf">View Directory Map</a></li>
			</ul>
		</div>

		<div class="mall-developers">
			<span>Managed and Leased by</span>
			<img class="pw-logo" src="/images/mimages/bayer-logo.jpg" alt="Bayer Property">
			<ul class="legal">
				<li><a href="/terms">Terms of Use</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
			</ul>
		</div>

	</div>
</footer>
