<section class="mrec">
  <div class="left">
    <img src="<% %>" alt="">
  </div>
  <div class="center">

    <div class="iFeatures">
      <h3>Latest News</h3>
      <div id="scrollbar1">
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
          <div class="overview">
            <ul id="news">

              <li><a href="/news/sidewalk-sale-at-the-palm-beach-outlets/2129989683" target="_self">Sidewalk Sale at The Palm Beach Outlets!</a> <a href="/news/sidewalk-sale-at-the-palm-beach-outlets/2129989683" target="_self" class="alt-color">read more &raquo;</a></li>

              <li><a href="/news/green-market-at-the-palm-beach-outlets-is-back/2129989636" target="_self">Green Market at the Palm Beach Outlets is BACK!</a> <a href="/news/green-market-at-the-palm-beach-outlets-is-back/2129989636" target="_self" class="alt-color">read more &raquo;</a></li>

              <li><a href="/news/now-open/2129988548" target="_self">Now Open!!!</a> <a href="/news/now-open/2129988548" target="_self" class="alt-color">read more &raquo;</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <img src="/images/mrec/jobimage2.jpg" alt="">
  </div>
  <div class="right"><img src="/images/mrec/9766529033677346306.jpg" alt=""></div>
</section>
