<div class="anchor-about">
  <h2>About the Style Guide</h2>

  <p class="lede">A style guide ensures brand and code consistency. By maintaining all of a website's primary elements on a single page, we see how components interact as well as how changes to semantic elements will effect the site overall. This style guide also serves as a curated, archival collection of Creative Design and UX/UI decisions made during the course of the site's development; creating brand consistency by avoiding arbitrary decisions that can happen if a no predefined choice presents itself.</p>
</div>
