<h4>Brand Colors</h4>

<div class="anchor-brand-colors">
  <div class="swatch">
    <div class="swatch-color color-brand-primary">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-brand-secondary">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-brand-tertiary">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-brand-quaternary">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-brand-quinary">
    </div>
    <div class="swatch-info">
    </div>
  </div>


</div>
