---
title: Home
heading:
home: true
class: home
---

<div class="splash">
  <h1>Stay Tuned</h1>
  <h2>For Exciting New Retailers</h2>

  <h4>Sign Up to get the latest updates and deals.</h4>

  <form method="post" action="mailto:youremail@youremail.com" >
    <input type="email" placeholder="Enter Email Address">
    <input id="email-signup" type="submit" value="Sign Up" />
  </form>
</div>
