<div class="anchor-typography-colors">
  <h4>Typography Colors</h4>

  <div class="swatch-color color-text">
  </div>
  <div class="swatch-info">
  </div>

  <div class="swatch-color color-link">
  </div>
  <div class="swatch-info">
  </div>

  <div class="swatch-color color-error">
  </div>
  <div class="swatch-info">
  </div>

  <div class="swatch-color color-info">
  </div>
  <div class="swatch-info">
  </div>

  <div class="swatch-color color-success">
  </div>
  <div class="swatch-info">
  </div>
</div>
