<h4>Gray Scale</h4>

<div class="anchor-brand-colors">
  <div class="swatch">
    <div class="swatch-color color-grey">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-dark-grey">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-light-grey">
    </div>
    <div class="swatch-info">
    </div>
  </div>

  <div class="swatch">
    <div class="swatch-color color-off-white">
    </div>
    <div class="swatch-info">
    </div>
  </div>
</div>
