<div class="banner">
  <ul id="slippry-demo">
    <li>
      <a href="#slide1">
        <img src="/assets/mimages/slide1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>">
      </a>
    </li>
    <li>
      <a href="#slide2">
        <img src="/assets/mimages/slide2.jpg"  alt="This is caption 2">
      </a>
    </li>
    <li>
      <a href="#slide3">
        <img src="/assets/mimages/slide3.jpg" alt="And this is some very long caption for slide 3. Yes, really long.">
      </a>
    </li>
  </ul>
</div>
