<!-- Footer Component -->
<footer role="contentinfo">
  <div class="container">

    <div class="mall-details">
      <ul class="mall-address">
        <li>{{mall.streetaddress}}, {{mall.city}}, {{mall.state}}, {{mall.zip}}</li>
      </ul>
      <ul>
        <li>
          For Property Information contact Laura McGraw 952.837.8662
        </li>
        <li>
          For Leasing Information contact Tricia Pitchford 952.820.8763
        </li>
      </ul>
      <ul class="legal">
        <li><a href="/terms">Terms of Use</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </div>

    <div class="mall-developers">
      <img class="pw-logo" src="/images/cushman.png" alt="cushman Wakefield">
    </div>

  </div>
</footer>
