<a href="#" class="open-panel"><span></span></a>

<nav role="navigation">
  <div class="container">
    <ul class="menu">
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Shop</a>
        <ul>
          <li>
            <a href="">By Category</a>
          </li>
          <li>
            <a href="">Directory Map</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Deals</a>
      </li>
      <li>
        <a href="">Events</a>
      </li>
      <li>
        <a href="">Info</a>
        <ul>
          <li>
            <a href="">Hours</a>
          </li>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Directions</a>
          </li>
          <li>
            <a href="">Services</a>
          </li>
          <li>
            <a href="">Gift Cards</a>
          </li>
          <li>
            <a href="">Employement</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <input type="search" placeholder="&#61442; Search">
      </li>
    </ul>
  </div>
</nav>
